body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #F2F2F2;
}

h1 {
    color: #333333;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 36px;
    text-shadow: 2px 2px #C8C8C8;
}

form {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #888888;
    max-width: 500px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #C8C8C8;
    border-radius: 5px;
    font-size: 16px;
    color: #333333;
    background-color: #F2F2F2;
}

input[type="submit"] {
    background-color: #333333;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555555;
}

@media (max-width: 600px) {
    form {
        padding: 15px;
        max-width: none;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 24px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th,
tbody td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

thead th {
    background-color: #eee;
}


.delete-btn{

    background-color: #a61b65;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.edit-btn {
    background-color: #2196F3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.edit-btn:hover,

.insert-btn:hover {
    background-color: #1565C0;
}

.delete-btn:hover{
    background-color: #ba2323;
}
.container {
    max-width: 800px;
    padding: 20px;
    overflow-x: auto;
}